
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.display{
  display: flex
}
.nav-item{
  list-style: none;
  font-size: 16px;
}
.nav-links a{
  text-decoration: none;
  color: white;
  
}
.nav-links{
  display: flex;
  gap: 30px;
  place-items: center;
}
.navbar{
  display: flex;
  justify-content: space-between;
  
}
.header{
  background-color: #1A0B2E;
  width: 100%;
  height: 92px;
}
.logo{
  color: white;
  padding-left: 200px;
  font-size: 1rem;
}
.logo .logo-part{
  color: #fb09b2b3;
}
.btn{
  display: grid;
  place-items: center;
  padding-right: 200px;
}
.btn .first{
  background-color: #fb09b2b3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  border: none;
  width: 135px;
  height: 44px;
  padding: 12 16;
  border-radius: 10000px;  
}
#hero-section{
  width: 100%;
  height: 760px;
  background: url("../assets/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat ;
  background-size: cover;
}
.hero{
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 101px 525px;
}
.hero .hero-circle{
  display: grid;
  align-items: center;
  justify-content: center;
}
.hero .btn-1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.hero .btn-1 .first{
  width: 201;
  height: 44px;
  padding:12 20 ;
  border-radius: 10000px;
  background-color: #fb09b2b3;
  color: #FFFFFF;
  display: flex;
  place-items: center;
  border: none;
  
}
.hero .btn-1 .second{
  width: 147;
  height: 44px;
  border: 1px solid #00FF88;
  color: #00FF88;
  background-color: none;
  font-weight: 400;
  display: flex;
  place-items: center;
  padding: 12px 20px ;
  border-radius: 10000px;
  background-color: transparent;
}
.hero .after-hero{
  /*width: 550;
  height: 168px;*/
}
.hero .tech-wave{
 text-align: center;
 color: #FFFFFF;
 font-weight: 600;
 font-size: 60px;
 width: 550;
 height: 73px;
 margin-top: 40px;
 margin-bottom: 8px;
 
}
.hero .skill{
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
  white-space: nowrap;
  width: 550;
  height: 19px;
}
#about-section{
  width: 100%;
  max-width: 1600;
  background-color: #1A0B2E;
  color: #FFFFFF;
  }
  #about-section .about-container{
    text-align: center;
  }
  #about-section .about-heading{
  text-align: center;
  padding: 50px 200px 0px 200px;
  width: 1200;
  height: 222px;
  }
  #about-section .about-heading .podcast{
    font-size: 48px;
    font-weight: 600;
  }
  #about-section .about-heading .introduction{
  font-weight: 400;
  font-size: 16px;
  width: 1200;
  line-height: 20px;
  }
  #about-section .about-info{
    display: flex;
    gap: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 120px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 160px;
  }
  #about-section .about-info .info-card .info{
   color: #00FF88;
   font-weight: 900;
  }
#about-section .about-info .info-card .card{
  font-weight: 240;
  height: 20px;
  font-size: 16px;
  width: 400;
  line-height: 20px;
}






  
/*#about-section .about-container{
margin: 0 auto;
text-align: center;
background-color: aqua;
}*/
