
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.display{
  display: flex
}
.nav-item{
  list-style: none;
  font-size: 16px;
}
.nav-links a{
  text-decoration: none;
  color: white;
  
}
.nav-links{
  display: flex;
  gap: 30px;
  place-items: center;
}
.navbar{
  display: flex;
  justify-content: space-between;
  
}
.header{
  background-color: #1A0B2E;
  width: 100%;
  height: 92px;
}
.logo{
  color: white;
  padding-left: 200px;
}
.logo .logo-part{
  color: #fb09b2b3;
}
.btn{
  display: grid;
  place-items: center;
  padding-right: 200px;
}
.btn .first{
  background-color: #fb09b2b3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  border: none;
  width: 135px;
  height: 44px;
  padding: 12 16;
  border-radius: 10000px;
  
  
  
}